*{
    padding: 0%;
    margin: 0%;
    
}
.header{
    display: flex;
    justify-content: center;
    background-color: hotpink;   
}

.content{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top left, #ff0156 0%, #ff09d6 100%);
    
}
.activity{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  color: black;
  margin-bottom: 1%;
}
p.questions{
    font-weight: bold;
    font-size: 100%;
    margin-left: 2%;
}

p.answers{
    font-size: 90%;
    margin-left: 1%;
}

.activity img{
    max-height: 80%;
    max-width: 80%;
    align-self: center;
    margin-bottom: 1%;
}

legend{
    margin-left: 1%;
}



form{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;

}
form,  select  label{
    margin: auto;
    flex-wrap: nowrap; 
    justify-content: center;
    flex-direction: row-reverse;
}


form legend{
    display: flex;
    flex-direction: column;
    justify-items: auto;
}
#num1,#num2,#submit,#operacion{
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
}